anndata==0.9.1
anndata2ri==1.1
cffi==1.15.1
contourpy==1.0.7
cycler==0.11.0
dunamai==1.16.1
fonttools==4.39.4
get_version==3.5.4
h5py==3.8.0
igraph==0.10.4
Jinja2==3.1.2
joblib==1.2.0
kiwisolver==1.4.4
leidenalg==0.9.1
llvmlite==0.40.0
MarkupSafe==2.1.2
matplotlib==3.7.1
natsort==8.3.1
networkx==3.1
numba==0.57.0
numpy==1.24.3
packaging==23.1
pandas==2.0.1
patsy==0.5.3
Pillow==9.5.0
pycparser==2.21
pynndescent==0.5.10
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3
rpy2==3.5.11
scanpy==1.9.3
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
session-info==1.0.0
six==1.16.0
statsmodels==0.14.0
stdlib-list==0.8.0
texttable==1.6.7
threadpoolctl==3.1.0
tqdm==4.65.0
tzdata==2023.3
tzlocal==5.0.1
umap-learn==0.5.3
